body{
    width: 600px;
    height: 300px;
}

table.bordered {
    border-collapse: collapse;
    border: 2px solid black;
}
  
table.bordered th, table.bordered td {
    border: 1px solid black;
    padding: 8px;
}
  